<!DOCTYPE html>
<html>
  <head>
    <title>enbook.me</title>
    <meta name="keywords" content="ebook, kindle, doc">
    <meta name="description" content="Tracks updates to URLs and forwards them to your Ebook reader">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="css/enbookme.css" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,bold" rel="stylesheet" type="text/css">
  </head>
  <body class="fill">
    <header class="linkBar">
      <span class="logo">Enbook.Me</span>
      <a class="username" href="/help">help</a>
      <span class="username">{{ .User.Email }}</span>
    </header>
    <section class="formPanel">
      <span class="formTitle">Create a Book Link</span>
      <form action="/add" method="post" class="addPublication form">
        <div class="formField">
          <label for="Name" class="formLabel">Name</label>
          <input type="text" name="Name" class="formValue" size="60"></input>
        </div>
        <div class="formField">
          <label for="URL" class="formLabel">URL</label>
          <input type="text" name="URL" class="formValue" size="60"></input>
        </div>
        <div class="formField">
          <label for="Email" class="formLabel">Email</label>
          <input type="text" name="Email" class="formValue" size="60"></input>
        </div>
        <div class="buttonPanel">
          <input type="submit" class="button" value="Enbook Me!">
        </div>
      </form>
    </section>
    <section class="listings">
      <table class="bookList">
        <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Created</th>
            <th>Last Checked</th>
            <th>Last Changed</th>
          </tr>
        </thead>
        <tbody>
          {{range .Publications}}
          <tr class="bookEntry">
            <td>{{.Name}}</td>
            <td>{{.Url}}</td>
            <td>{{.Created}}</td>
            <td>{{.LastChecked}}</td>
            <td>{{.LastChanged}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </section>
    <footer>
      <span class="footerText">Copyright 2013, cutsnake.net. All rights reserved.</span>
    </footer>
  </body>
</html>

