<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>net.cutsnake.enbookme.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/enbookme/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>bookServlet</servlet-name>
    <servlet-class>net.cutsnake.enbookme.server.BookServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookServlet</servlet-name>
    <url-pattern>/enbookme/books</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checkerServlet</servlet-name>
    <servlet-class>net.cutsnake.enbookme.server.UpdateCheckerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkerServlet</servlet-name>
    <url-pattern>/tasks/check/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>mailerServlet</servlet-name>
    <servlet-class>net.cutsnake.enbookme.server.EmailUpdaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailerServlet</servlet-name>
    <url-pattern>/tasks/update/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cronServlet</servlet-name>
    <servlet-class>net.cutsnake.enbookme.server.AllBooksCheckerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cronServlet</servlet-name>
    <url-pattern>/tasks/checkall</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>EnbookMe.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
